.project-title {
    font-size: 30px;
    font-weight: bolder;
    color: blueviolet;
    text-decoration: none; 
}

.link {
    color: dodgerblue;
    text-decoration: none;
}

.link:hover {
    color: mediumpurple;
    text-decoration: underline;
}
.project-video {
    border-bottom: none;
}

@media screen and (max-width: 1024px) {

   
}

@media screen and (max-width: 736px) {
    .project-paragraph {
        margin-top: 15px;
    }
}
